<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product_category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_category.description %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @product_category.parent %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product_category.weight %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @product_category.visible %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @product_category.creator %>
</p>

<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>
