<%= form_for(@customer_paid_log) do |f| %>
  <% if @customer_paid_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_paid_log.errors.count, "error") %> prohibited this customer_paid_log from being saved:</h2>

      <ul>
      <% @customer_paid_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :beforepaid %><br>
    <%= f.number_field :beforepaid %>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <%= f.number_field :paid %>
  </div>
  <div class="field">
    <%= f.label :afterpaid %><br>
    <%= f.number_field :afterpaid %>
  </div>
  <div class="field">
    <%= f.label :dateofpayment %><br>
    <%= f.datetime_select :dateofpayment %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :creator_id %><br>
    <%= f.text_field :creator_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
