<p id="notice"><%= notice %></p>

<h1>Listing Warehouses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Visible</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warehouses.each do |warehouse| %>
      <tr>
        <td><%= warehouse.title %></td>
        <td><%= warehouse.description %></td>
        <td><%= warehouse.address %></td>
        <td><%= warehouse.phone %></td>
        <td><%= warehouse.fax %></td>
        <td><%= warehouse.visible %></td>
        <td><%= warehouse.creator %></td>
        <td><%= link_to 'Show', warehouse %></td>
        <td><%= link_to 'Edit', edit_warehouse_path(warehouse) %></td>
        <td><%= link_to 'Destroy', warehouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warehouse', new_warehouse_path %>
