<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @warehouse.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @warehouse.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @warehouse.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @warehouse.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @warehouse.fax %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @warehouse.visible %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @warehouse.creator %>
</p>

<%= link_to 'Edit', edit_warehouse_path(@warehouse) %> |
<%= link_to 'Back', warehouses_path %>
